body {
    margin: 0px;
    overflow: hidden;
}

/* Menu */

#menu {
    padding:0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
    list-style: none;
}

#menu > li {
    display: inline-block;
    padding-right: 30px;
}

#menu > li > ul {
    position: absolute;
}

.ui-button {
    font: 12px sans-serif;
}

.ui-menu {
    font: 12px sans-serif;
    width: 200px;
}

.ui-menu .ui-menu {
    width: 180px;
}

.ks {
    color: #0000a0;
    float: right;
}

/* Output */

#output {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

#output.start {
    margin: 20px;
    border: dashed gray 5px;
    border-radius: 50px;

    left: 0px;
    top: 10px;

    text-align: center;
}

#output.loading {
    margin: 20px;
    border: dashed gray 5px;
    border-radius: 50px;

    left: 0px;
    top: 10px;

    color: gray;
    font: 50px sans-serif;

    text-align: center;
}

/* Tree selector */

#treeSelect {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.5;
    left: 5px;
    bottom: 5px;
    margin: 0px;
    padding: 5px;
}

#treeSelect:hover {
    opacity: 1.0;
}

#treeSelectInput {
    display: none;
}

#treeSelectInput.setTreeFocused {
    display: block;
}

#treeSelect:hover > #treeSelectInput {
    display: block;
}


/* Direct entry */

#directEntry {
    text-align: center;
}

#directEntry textArea {
    width: 95%;
    height: 95%;
    resize: none;
}

/* File input */

#fileInput {
    /* display: none; (Causes problems in Safari.) */
    position: absolute;
    left: -9999px;  /* So ugly! */
}

#metadataInput {
    /* display: none; (Causes problems in Safari.) */
    position: absolute;
    left: -9999px;  /* So ugly! */
}

/* Load URL */
#urlToLoad {
    width: 95%;
}

/* Axis offset */
#axisOffsetDialog {
    font: 14px sans-serif;
}

/* Taxon search */

#nodeSearchDialog {
    font: 14px sans-serif;
}

#searchStringInput {
    width: 95%;
    resize: none;
}

#nodeSearchDialog ul {
    list-style-type: none;
}

/* Dialogs */

.dialog {
    font: 14px sans-serif;
}

#shortcutHelp th, td {
    text-align: left;
    width: 20px;
}

#shortcutHelp tr:nth-of-type(even) {
    background-color: #eaeaea;
}

#shortcutHelp table {
    width: 400px;
}

#about {
    text-align: left;
}

#about img {
    float: right;
    margin: 10px;
}

.warning {
    text-align: left;
}

.warning img {
    float: right;
    margin-left: 15px;
}

.error > .ui-dialog-content {
    text-align: left;
    font-size: 0.8em;
}

.error > .ui-dialog-titlebar {
    border: none;
    background: darkred;
}

.error .ui-button,
.error .ui-button:hover {
    border: none;
    background: darkred;
    color: white;
}

.error span.cursor {
    border: 2px solid red;
    font-weight: bold;
}

#lttPlotOutput {
    width: 100%;
    height: 100%;
}

#skylinePlotOutput {
    width: 100%;
    height: calc(100% - 3em);
}

#treeStatsDialog table {
    width: 100%;
} 

#treeStatsDialog th {
    text-align: left;
}

#treeStatsDialog tr:nth-of-type(even) {
    background-color: #eaeaea;
}

/* Notifications */

#notify {
    display: none;
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0);
    z-index: 10;
}

#notify div {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 20px;
    border-radius: 20px;

    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);

    color: white;
    background-color: black;

    font-family: sans-serif;
    font-size: 1.5em;
}

