body {
    margin: 0px;
}

/* Menu */

#menu {
    padding:0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
    list-style: none;
}

#menu > li {
    display: inline-block;
    padding-right: 30px;
}

.menuDiv {
    position: relative;
}

.menuDiv > ul {
    position: absolute;
}

.ui-button {
    font: 12px sans-serif;
}

.ui-menu {
    font: 12px sans-serif;
    width: 170px;
}

.ui-menu .ui-menu {
    width: 150px;
}

/* Output */

#output {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

#output.start {
    margin: 20px;
    border: dashed gray 5px;

    left: 0px;
    top: 10px;

    text-align: center;
}

#output.loading {
    margin: 20px;
    border: dashed gray 5px;

    left: 0px;
    top: 10px;

    color: gray;
    font: 50px sans-serif;

    text-align: center;
}

#output.error {
    margin: 20px;
    border: dashed gray 5px;

    left: 0px;
    top: 10px;

    text-align: center;
}

#output.error > div.main {
    color: red;
    font: 50px sans-serif;
}

#output.error > div.minor {
    color: blue;
    font: 20px sans-serif;
}

/* Tree selector */

#treeSelect {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.5;
    left: 5px;
    bottom: 5px;
    margin: 0px;
    padding: 5px;
}

#treeSelect:hover {
    opacity: 1.0;
}

#treeSelectInput {
    display: none;
}

#treeSelectInput.setTreeFocused {
    display: block;
}

#treeSelect:hover > #treeSelectInput {
    display: block;
}


/* Direct entry */

#directEntry {
    text-align: center;
}

#directEntry textArea {
    width: 95%;
    height: 95%;
    resize: none;
}

/* File input */

#fileInput {
    /* display: none; (Causes problems in Safari.) */
    position: absolute;
    left: -9999px;  /* So ugly! */
}

/* Taxon search */

#nodeSearchDialog {
    font: 14px sans-serif;
}

#searchStringInput {
    width: 95%;
    resize: none;
}

#nodeSearchDialog ul {
    list-style-type: none;
}

/* Help and About */

#navHelp {
    font: 14px sans-serif;
}

#shortcutHelp {
    font: 14px sans-serif;
}

#shortcutHelp th, td {
    text-align: left;
    width: 20px;
}

#shortcutHelp tr:nth-of-type(even) {
    background-color: #eaeaea;
}

#shortcutHelp table {
    width: 400px;
}

#about {
    font: 14px sans-serif;
    text-align: left;
}

#about img {
    float: right;
    margin: 10px;
}

#warning {
    font: 14px sans-serif;
    text-align: justify;
}

#warning img {
    float: right;
    margin-left: 15px;
}
