body {
    margin: 0px;
}

/* Menu */

#menu {
    padding:0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
    list-style: none;
}

#menu > li {
    display: inline-block;
    padding-right: 30px;
}

.menuDiv {
    position: relative;
}

.menuDiv > ul {
    position: absolute;
}

.ui-button {
    font: 12px sans;
}

.ui-menu {
    font: 12px sans;
    width: 200px;
}

.ui-menu .ui-menu {
    width: 150px;
}

#fileLoadContainer {
    position: relative;
}

#fileLoad {
    opacity: 0;
    position: absolute;
    top: 0px;
    z-index: 2;
}

#fileInput a {
    position: absolute;
    top: 0px;
    z-index: 1;
}


/* Output */

#output {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

#output.empty {
    margin: 20px;
    border: dashed gray 5px;

    left: 0px;
    top: 10px;

    width: calc(100% - 50px);
    height: 150px;

    text-align: center;
}

#output.text {
    margin: 20px;
    border: dashed gray 5px;

    left: 0px;
    top: 10px;

    width: calc(100% - 50px);
    height: 100px;

    color: gray;
    font: 50px sans-serif;

    text-align: center;
}

#output.error {
    margin: 20px;
    border: dashed gray 5px;

    left: 0px;
    top: 10px;

    width: calc(100% - 50px);
    height: 100px;

    color: red;
    font: 50px sans-serif;

    text-align: center;
}


/* Tree selector */

#treeSelect {
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.5;
    left: 5px;
    bottom: 5px;
    margin: 0px;
    padding: 5px;
}

#treeSelect:hover {
    opacity: 1.0;
}

#treeSelectInput {
    display: none;
}

#treeSelectInput.setTreeFocused {
    display: block;
}

#treeSelect:hover > #treeSelectInput {
    display: block;
}


/* Direct entry */

#directEntry {
    text-align: center;
}

#directEntry textArea {
    width: 95%;
    height: 95%;
    resize: none;
}


/* Help and About */

#shortcutHelp {
    font: 14px sans;
}

#shortcutHelp th, td {
    text-align: left;
    width: 20px;
}

#shortcutHelp tr:nth-of-type(even) {
    background-color: #eaeaea;
}

#shortcutHelp table {
    width: 400px;
}

#about {
    font: 14px sans;
    text-align: center;
}
